---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Desi Ratnasari" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Saya adalah seorang desainer grafis yang memiliki passion dalam menciptakan karya visual yang menarik dan efektif. Dengan pengalaman dalam berbagai bidang desain, mulai dari desain branding, materi promosi, hingga desain digital, saya selalu berusaha memberikan solusi kreatif yang dapat memperkuat pesan yang ingin disampaikan.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pendidikan</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="STMIK Masa Depan Tangerang"
      subtitle=" Strata Satu - Teknik Informatika"
    />
    <TimeLineElement
      title="AMIK Mapan Tangerang"
      subtitle=" Diploma 3 - Teknik Informatika"
    />
    <TimeLineElement
      title="SMAN 1 Enok"
      subtitle="Ilmu Pengetahuan Alam"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pengalaman</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Staff Admin di PT.Aretanet Indonesia"
      subtitle="2015-2016"
    >
       Saya bertanggung jawab dalam mendukung operasional harian, mulai dari pengelolaan data peserta, penyusunan jadwal pelatihan, hingga komunikasi dengan calon mahasiswa atau peserta training. Saya juga mengelola dokumen administrasi dan lainnya.
    </TimeLineElement>
    <TimeLineElement
      title="2017-2018"
      subtitle="Pengajar di Lembaga Kursus Komputer SCC"
    >
      Mengajar materi Microsoft Office dan desain grafis, serta menangani layanan cetak undangan serta proses print dokumen untuk kebutuhan siswa maupun umum. Dengan keahlian di bidang komputer, saya memastikan setiap pekerjaan selesai dengan rapi, cepat, dan sesuai kebutuhan pelanggan.
    </TimeLineElement>
    <TimeLineElement
      title="2020-2020"
      subtitle="Admin Online Shop Mahira"
    >
      Mengelola operasional harian online shop busana, mulai dari menerima dan memproses orderan, membagikan produk di media sosial, hingga melakukan update stok secara berkala di platform Shopee. Bertanggung jawab memastikan informasi produk selalu akurat dan pelayanan kepada pelanggan berjalan lancar.
    </TimeLineElement>
    <TimeLineElement
      title="2022-Sekarang"
      subtitle="Staff Admin di Areta Informatics College"
    >
      Bertugas mengelola administrasi perkantoran, mulai dari pengarsipan dokumen, pengelolaan surat masuk dan keluar, hingga membantu proses administrasi akademik mahasiswa. Menyediakan layanan informasi dan memastikan kelancaran kegiatan administrasi di lingkungan kampus.
    </TimeLineElement>
    <TimeLineElement
      title="2022-Sekarang"
      subtitle="Freelance Design"
    >
      Sebagai freelance design, saya membantu klien membuat berbagai kebutuhan visual seperti poster, flyer, logo, hingga konten media sosial yang menarik dan sesuai identitas brand mereka. Saya bekerja dengan kreativitas, memperhatikan detail, dan menyesuaikan desain agar tepat sasaran.
    </TimeLineElement>
    <TimeLineElement
      title="2022-Sekarang"
      subtitle="Freelance Editor"
    >
      Sebagai freelance editor, saya menangani penyuntingan dokumen, naskah, dan presentasi agar lebih rapi, jelas, dan profesional. Baik dari sisi tata bahasa, struktur, hingga tampilan keseluruhan, saya memastikan hasil akhir siap dipublikasikan atau dipresentasikan.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Sertifikat</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/14b8D8ddAqv2dNWpsAUFtoI1Nmkwcg5xF/view?usp=sharing" target="_blank"> Creating a Web UI Portfolio</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1AoViV62MIR9uw0g4Nqrg0YbSQBJpEpGz/view?usp=sharing" target="_blank"> Data Mining for Education in Big Data</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/17UkqLprbaJnObJHBf-YuNClDM6-GGbCP/view?usp=sharing" target="_blank"> Adobe Photoshop </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Keahlian</div>
  </div>

  <ul class="list-disc md:columns-3 columns-3 mx-6">
    <li>CorelDraw</li>
    <li>Photoshop</li>
    <li>Canva</li>
    <li>Ms.Office</li>
    <li>Google Workspace</li>
    <li>Bisnis Digital</li>
  </ul>
</BaseLayout>
