---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Desi Ratnasari" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Saya adalah seorang desainer grafis yang memiliki passion dalam menciptakan karya visual yang menarik dan efektif. Dengan pengalaman dalam berbagai bidang desain, mulai dari desain branding, materi promosi, hingga desain digital, saya selalu berusaha memberikan solusi kreatif yang dapat memperkuat pesan yang ingin disampaikan.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pendidikan</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="STMIK Masa Depan Tangerang"
      subtitle=" Strata Satu - Teknik Informatika"
    />
    <TimeLineElement
      title="AMIK Mapan Tangerang"
      subtitle=" Diploma 3 - Teknik Informatika"
    />
    <TimeLineElement
      title="SMAN 1 Enok"
      subtitle="Ilmu Pengetahuan Alam"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Pengalaman</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Keahlian</div>
  </div>

  <ul class="list-disc md:columns-3 columns-3 mx-6">
    <li>CorelDraw</li>
    <li>Photoshop</li>
    <li>Canva</li>
    <li>Ms.Office</li>
    <li>Google Workspace</li>
    <li>Bisnis Digital</li>
  </ul>
</BaseLayout>
