---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hai Hallo 👋</div>
    <div class="text-5xl font-bold">Saya Desi Ratnasari</div>
    <div class="text-3xl py-3 font-bold">Design Grafis & Freelnce Editor</div>
    <div class="py-2">
      <text class="text-lg">
        Ini adalah <b>Web Portfolio,</b> saya seorang pecinta desain grafis dan fotografi. Saya percaya setiap visual punya cerita, dan tugas saya adalah membantu cerita itu terlihat lebih hidup dan bermakna. Dari desain poster, logo, hingga jepretan momen spesial, saya selalu berusaha menuangkan ide dan rasa ke dalam karya. Selamat datang di portofolio saya — semoga kamu menikmati setiap karyanya!
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://wa.me/6281285234904" target="_blank"> Kita Ngobrol, Yuk!</a>
      <a href="https://www.shutterstock.com/Desi_Ratnasari" target="_blank" class="btn btn-outline ml-5">
        Lihat Karya Lainnya
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
